body {
  background-color: #FFF8EF

}
h2 {
  margin-top: 20px;
  margin-bottom: 50px;
}

h2,
h3,
h4,
h5 {
  font-family: "asap condensed", sans-serif !important;
  font-weight: 700;
}
h4,
h3 {
  color:black;
}
.bigger {
  font-family: "asap condensed", sans-serif !important;
  font-size: 20px;
}

small {
  color: #6ab187;
}
.green {
  color: #6ab187;
}

.bottom-buttons {
  margin-top: 20px;
}

.container {
  width: 100%;
}

.card-group {
  display: flex;
  transition: all 0.5s ease;
  transform: scale(1);
}
.card-group:hover {
transform: scale(1.03);
}

.card {
  border-radius: 8px;
  background-color: rgb(253, 252, 250);
}

.fa-minus-circle{
  color: grey;
  transition: all 0.5s ease;
  transform: scale(1);
}

.fa-minus-circle:hover {
  transform: scale(1.5);
  }

.jumbotron {
  background-image: url(../images/jumbo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.display-4 {
  color: #fafafa;
}
.lead {
  color: #fafafa;
}

.btn-warning {
  background-color: #f4cc70;
  border: none;
  transition: all 1s ease;
  transform: scale(1);
}
.btn-warning:hover {
  background-color: rgb(251, 203, 123, 1);
  transform: scale(1.1) perspective(1px);
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.grey {
  background-color: grey;
}
.nomargin {
  margin:0 !important;
}

.form_style{
  border: solid 1px lightgrey;
}