{% extends 'base.html'%} {% block content %}


<!-----------------------------Header Add or Edit recipes ------------>
{% if existing_recipe %}
<h1 class="text-center p-5">Edit Recipe</h1>

{% else %}
<h1 class="text-center p-5">Add your recipe</h1>

{% endif %}

<!----------------------------------Add / Edit recipe form-------------------->
<div>
    <!------- Modal with images to choose--------->
    <div class="modal fade" id="modal_image_select" tabindex="-1" role="dialog"
        aria-labelledby="modal_image_list_scroll" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <!-----------modal header-------->
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_image_list_scroll">Select image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-----------modal body-------->

                <div class="modal-body text-center">
                    <div class="container-flex"></div>
                    <!-------------spiner--------->
                    <div class="spinner-border text-info" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <!-------------images--------->
                    <div class="row" id="image_list" style="display: none">

                    </div>
                </div>
                <!------------------------------- modal footer----------->
                <!---------------Upload img----------------->
                <div class="modal-footer">
                    <div class="input-group">
                        <div id="upload_img" class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01">
                          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                      </div>
                
                    <!------------------Close modal button --------------->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <form action="" method="POST" class="col-12 border p-lg-5 mb-5 pb-5">
        <div class="col-6 pb-4">
            <!-----------image/button to add or change image------------->
            <img id="image_preview" class="img-thumbnail rounded img-fluid max-width: 100% mt-3">
            <figcaption>Click to change image</figcaption>
        </div>
        <div class="row justyfi-content-center mb-3">
            <!------------Add / Edit Title input------------->
            <div class="col-6">
                <label class="font-weight-bolder">Title</label>
                <input class="form-control" type="text" placeholder="new title" name="new_title">
            </div>
            <!------------Add / Edit Category input------------->
            <div class="col-6">
                <label class="font-weight-bolder" for="add_edit_category">Category</label>
                <select class="form-control" id="add_edit_category" name="category">
                    {% for cat in categories %}
                    <option value="{{cat.name}}">{{cat.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!------------Add / Edit Servings input------------->
        <div class="row justyfi-content-center mb-3">
            <div class=" col-6">
                <label class="font-weight-bolder" for="add_edit_category">Servings</label>
                <select class="form-control" id="add_edit_category" name="new_servings">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </div>

            <div class="col-6">
                <div class="row">

                </div>
            </div>
        </div>
        <!---------------------------Tags------------------------------>
        <label class="font-weight-bolder m-1">Tags</label>
        <div class="col-12 border my-1">
            <div id="tag_list" class="row p-2 text-wrap">

            </div>
        </div>
        <!--------------------------------input tag------------->
        <div class="row my-4">
            <div class="col-8 col-md-5"><input id="tag_input" class="form-control" type="text" placeholder="Tag name"
                    name="new_tag"></div>
            <div class="col-4"><button id="add_tag_button" class="btn btn-success" type="button">
                    Add
                    <i class="fa fa-plus"></i>
                </button></div>
        </div>
        <!------------Add / Edit Prepare time input------------->
        <p class="font-weight-bolder">Preper time: </p>
        <div class="row justyfi-content-center mb-3">
            <!-----------------minutes-->
            <div class="col-6">
                <label class="font-weight-bolder" for="add_edit_category"> minutes</label>
                <select class="form-control" id="add_edit_category" name="new_minutes">
                    <option>0</option>
                    <option>5</option>
                    <option>10</option>
                    <option>15</option>
                    <option>20</option>
                    <option>25</option>
                    <option>30</option>
                    <option>35</option>
                    <option>40</option>
                    <option>45</option>
                    <option>50</option>
                    <option>55</option>

                </select>
            </div>
            <!--------------Hours-->
            <div class="col-6">
                <label class="font-weight-bolder" for="add_edit_category">hours</label>
                <select class="form-control" id="add_edit_category" name="new_hours">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
            </div>
        </div>
        <!------------Add / Edit Ingredients input------------->
        <div class="container-flex">
            <div class="row d-flex justify-content-center justify-content-md-start ml-md-1 mb-3">
                <div class="col-5 p-0">
                    <label class="font-weight-bolder" for="search_ingredient">Add ingredient</label>
                    <select class="form-control" id="search_ingredient" name="category">
                        {% for ing in ingredients %}
                        <option value="{{ing.name}}">{{ing.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-3 px-1">
                    <label class="font-weight-bolder" for="search_unit">Unit</label>
                    <select class="form-control" id="search_unit" name="category">
                        {% for unit in units %}
                        <option value="{{unit.name}}">{{unit.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-2 p-0">
                    <label class="font-weight-bolder" for="add_ingredient_amount">Amount</label>
                    <input type="text" class="form-control" id="add_ingredient_amount" placeholder="Amount">
                </div>
                <i id="add_ingredient" class="b_plus fa fa-plus text-success"></i>
            </div>
            <ul class="list-unstyled" id="ingredients_list">

            </ul>
        </div>
        <!------------Add / Edit Steps input------------->
        <div class="form-group mb-2" id="steps_list">
            <div class="row">
                <label class="font-weight-bolder col-3" for="steps_label">Steps: </label>
                <button id="add_step" class="btn btn-success col-4 col-md-2 mb-3" type="button">Add step <i
                        class="fa fa-plus"></i></button>
            </div>

        </div>

        <!------------Save changes / Save recipe button------------->
        <div class="mt-4">
            {% if existing_recipe%}
            <button type="button" class="btn btn-info bottom-buttons" id="submit_button">Save changes <i
                    class="fa fa-check "></i></button>
            {% else %}
            <button type="button" class="btn btn-info bottom-buttons" id="submit_button">Save recipe <i
                    class="fa fa-check "></i></button>
            {% endif %}

            <a href="{{url_for('get_recipes')}}" class="btn btn-secondary bottom-buttons" id="cancel_button">Cancel <i
                    class="fa fa-trash"></i></a>
        </div>
    </form>
</div>


{% endblock %}

{% block scripts %}

<!------------------------------- existing recipe-------------------------------------------->
{% if existing_recipe %}
<script type="text/javascript">

    // render existing recipe ingredients as a json array
    const ingredients = {{ existing_recipe.ingredients | tojson }};

    // render existing recipe tags as a json array
    const tags = {{ existing_recipe.tags | tojson }};

    // server side render recipe steps list as json array
    const steps = {{ existing_recipe.recipe | tojson }};

    // Load existing recipes data into form fields, it has to be in .html file because of using template expressions
    $("form").find("input[name=new_title]").val("{{existing_recipe.title}}");
    $("form").find("input[name=new_image]").val("{{existing_recipe.image}}");
    $("form").find("select[name=new_servings]").val("{{existing_recipe.servings}}");
    $("form").find("select[name=category]").val("{{existing_recipe.category}}");
    $("form").find("select[name=new_minutes]").val("{{existing_recipe.prepare_time_minutes}}");
    $("form").find("select[name=new_hours]").val("{{existing_recipe.prepare_time_hours}}");
    $("#image_preview").attr('src', '{{existing_recipe.image}}')

</script>

<script type="text/javascript" src="{{url_for('static', filename='js/edit_recipe.js')}}">
</script>

{% endif %}

<script type="text/javascript">
    const recipesPageUrl = "{{url_for('get_recipes')}}";
    
    // Generate posting url if it is update or create 
    {% if existing_recipe %}
        const postRecipeUrl = "{{ url_for('update_recipe', recipe_id = existing_recipe._id)}}";
    {% else %}
        const postRecipeUrl = "{{ url_for('insert_recipe')}}";
    {% endif %}

    const postImageUrl = "{{url_for('add_image')}}";

</script>

<script type="text/javascript" src="{{url_for('static', filename='js/add_recipe.js')}}"></script>
{% endblock %}

<!----------------------------------------Background image---------------------------->
{% block styles %}

body {
background-image: url("{{url_for('static', filename='images/background1.jpeg')}}");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
width: 100%;
height: 100%;
z-index: 1;
background-color: hsla(0,0%,0%,0.10);
background-blend-mode: overlay;
background-repeat: no-repeat;
}

{% endblock %}