{% extends 'base.html'%} {% block content %}
<div class="justyfy-content-center mb-5 mt-3">
  <h1 class="text-center pb-4">Add Category</h1>

  <!----------------------------------Add category form--------------->
  <form action="{{ url_for('insert_category')}}" method="POST" class="col-12 col-md-8 offset-md-2 p-5">
    <!-------------------Category name input-------------->
    <div class="row mb-1">
      <label class="font-weight-bold">Category name</label>
      <input class="form-control list-group-item" type="text" name="new_category" placeholder="New category">
    </div>
    <!-------------------Category Sort index input---------------->
    <div class="row mb-3">
      <label class="font-weight-bold">Sort index (between 1 and 100)</label>
      <input class="form-control list-group-item" type="number" name="sort-index" min="1" max="100"
        placeholder="Sort index">
    </div>

    <!---------------Button Save Changes------------>
    <button type="submit" class="btn btn-info bottom-buttons">Add category <i class="fa fa-check "></i></button>

    <!---------------Button Cancel--------------->
    <a href="{{url_for('get_categories')}}" class="btn btn-secondary bottom-buttons">Cancel <i
        class="fa fa-trash"></i></a>
  </form>
</div>
{% endblock %}

<!----------------------------------------Background image---------------------------->
{% block styles %}

body {
  background-image: url("{{url_for('static', filename='images/background1.jpeg')}}");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: hsla(0,0%,0%,0.10);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}

{% endblock %}