{% extends 'base.html'%} 

{% block content_no_container %}

<div class="main_container px-lg-0 text-center pt-4">
    
    <!----------------------Buttons generate diet plan and shopping list------------------>

    <div class="row d-flex justify-content-center pt-3">
        <div class="col-6  col-md-4">
            <!------------ Button trigger modal Generate diet plan------------- -->
            <button id="generate_diet_plan" type="button" class="btn btn-warning mb-1" data-toggle="modal"
                data-target="#dietPlanModalCenter"><i class="fa fa-calendar-check h6"></i>
                <span class="h6">Generate diet plan</span>
            </button>
        </div>
        <!-- Modal -->
            <div class="modal fade" id="dietPlanModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="dietPlanModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-success" id="dietPlanModalCenterTitle">Diet plan</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="print" class="border pr-3 pl-3 ">

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="print_btn btn btn-light border"
                                data-dismiss="modal">Print     <i class="fas fa-print"></i></button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        
        <div class="col-6 col-md-4">
            <!------------------ Button trigger modal  Generate shopping list-------------------->
            <button type="button" class="btn btn-warning" id="generate_shopping_list" data-toggle="modal"
                data-target="#shopingListModalScrollable">

                <i class="fas fa-list h6"></i>
                <span class="h6">Generate shopping list</span>

            </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="shopingListModalScrollable" tabindex="-1" role="dialog"
            aria-labelledby="shopingListModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-success text-center" id="shopingListModalScrollableTitle">
                            Shoping
                            List
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group list-group-flush shopping_list">
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="print_btn btn btn-light border"
                        data-dismiss="modal">Print     <i class="fas fa-print"></i></button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row d-flex justify-content-center main_content">
        <!-----------------------------Carousel diet plan-------------------------->
        <div class="p-0">
            <div id="Indicators" class="carousel row row_carousel slide mt-4" data-ride="carousel" data-interval=false>
                <ol class="carousel-indicators">
                    <li data-target="#Indicators" data-slide-to="0" class="active"></li>
                    <li data-target="#Indicators" data-slide-to="1"></li>
                    <li data-target="#Indicators" data-slide-to="2"></li>
                    <li data-target="#Indicators" data-slide-to="3"></li>
                    <li data-target="#Indicators" data-slide-to="4"></li>
                    <li data-target="#Indicators" data-slide-to="5"></li>
                    <li data-target="#Indicators" data-slide-to="6"></li>
                </ol>
                <!--------------------------------Modal Meals List------------------->

                <div id="modal_meals_list" class="modal fade meal_list_modal show" tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel" style="display: none; padding-right: 17px;">
                    <div class="modal-dialog modal-lg modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title text-success" id="myLargeModalLabel">Select meal from list
                                </h4>
                                <button id="close_modal_meals_list" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <!-------Search input------->
                                    <div class="col-md-5 p-0 pt-2">
                                        <form class="row form-inline md-form form-sm ml-2 mb-3">
                                            <i class="fas fa-search" aria-hidden="true"></i>
                                            <input id="myInput" class="form-control form-control-sm ml-3 w-75"
                                                type="text" placeholder="Search" aria-label="Search">
                                        </form>
                                    </div>
                                    <!----------------all tags----------->
                                    <div class="col-md-6 text-center pt-0">
                                        <div class="font-weight-bold">Click tag to refine search:</div>
                                        <div id="all_tags" class="col-12 text-justify py-2 px-0"></div>
                                    </div>
                                </div>
                                <hr>
                                <!-------------------------Recipes list---------------------------------------->
                                <div id="recipes-list" class="mt-3">
                                    <div class="container-fluid">
                                        <div class="row justify-content-center">

                                        </div>

                                    </div>
                                </div>
                                <!----------Feedback for user that search returned no results-------------->
                                <div class="nothingFound_diet" style="display:none">
                                    <p><span>Whoops!</span> </br>Sorry, but nothing matched your search. Please try
                                        some
                                        different
                                        keywords.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-inner mb-5">
                    {% for day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %}
                    <div class="carousel-item {% if loop.first %} active {% endif %}">
                        <!-------------------------------------day of the week Monday------------>
                        <div class="justify-content-center days-of-the-week row  p-3 mb-4 font-weight-bold">
                            <span class="day-of-the-week">{{day}}</span>
                        </div>
                        <div class="container-flex meals-carousel mb-4">
                            <div class="row d-flex justify-content-center mb-4">
                                <div class="meal col-md-5 mr-md-4">
                                    <div class="row">
                                        <div class="category_name h4 text-center col-12 py-3 rounded-top">Breakfast
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="container meal_carousel p-0 m-0">
                                            <div
                                                class="slideShowRecipeTitle row justify-content-center font-weight-bold text-info h5 py-3">
                                                &nbsp;
                                            </div>
                                            <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                                class="slideShowRecipeImage img-thumbnail rounded img-fluid max-width: 100% sidebar-image"
                                                data-toggle="modal" data-target=".meal_list_modal">
                                        </div>
                                    </div>
                                </div>
                                <div class="meal col-md-5">
                                    <div class="row">
                                        <div class="category_name h4 text-center col-12 py-3 rounded-top">Lunch
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="container meal_carousel p-0 m-0">
                                            <div
                                                class="slideShowRecipeTitle row justify-content-center font-weight-bold text-info h5 py-3">
                                                &nbsp;
                                            </div>
                                            <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                                class="slideShowRecipeImage img-thumbnail rounded img-fluid max-width: 100% sidebar-image"
                                                data-toggle="modal" data-target=".meal_list_modal">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row d-flex justify-content-center">
                                <div class="meal col-md-5 mr-md-4">
                                    <div class="row">
                                        <div class="category_name h4 text-center col-12 py-3 rounded-top">Tea</div>
                                    </div>
                                    <div class="row">
                                        <div class="container meal_carousel p-0 m-0">
                                            <div
                                                class="slideShowRecipeTitle row justify-content-center font-weight-bold text-info h5 py-3">
                                                &nbsp;
                                            </div>
                                            <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                                class="slideShowRecipeImage img-thumbnail rounded img-fluid max-width: 100% sidebar-image"
                                                data-toggle="modal" data-target=".meal_list_modal">
                                        </div>
                                    </div>
                                </div>
                                <div class="meal col-md-5">
                                    <div class="row">
                                        <div class="category_name h4 text-center col-12 py-3 rounded-top">Dinner
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="container meal_carousel p-0 m-0">
                                            <div
                                                class="slideShowRecipeTitle row justify-content-center font-weight-bold text-info h5 py-3">
                                                &nbsp;
                                            </div>
                                            <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                                class="slideShowRecipeImage img-thumbnail rounded img-fluid max-width: 100% sidebar-image"
                                                data-toggle="modal" data-target=".meal_list_modal">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <a class="carousel-control-prev" href="#Indicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#Indicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>

        </div>
    </div>

    {% endblock %}

    {% block scripts %}

    <script type="text/javascript">
        // Render recipes list as json array
        const recipes = {{ recipes | tojson }};
            
    </script>

    <script type="text/javascript" src="{{url_for('static', filename='js/diet_plan.js')}}"></script>

{% endblock %}

{% block styles %}

    .main_container {
        margin: 0 2em;
        padding: 0;
        }

    .container.general {
        display: none;
    }

{% endblock %}