{% extends 'base.html'%} {% block uber_content %}

<div class="main_container px-lg-0 text-center">
    <!--------------------------Search---------------------->
    <div class="row border-bottom p-0 pt-3 m-0 search_section position-fixed text-center">

        <!-------Search input------->
        <div class="col-4 p-0 pt-2">
            <form class="row form-inline md-form form-sm ml-2 mb-3">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input id="myInput" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                    aria-label="Search">
            </form>
        </div>
        <!----------------all tags----------->
        <div class="col-5 text-center pt-0 pb-3 px-2">
            <h5 class="color-view-recipe mt-2"><i class="fas fa-tags pt-1 pr-1"></i>Filter by tags:</h5>
            <div id="all_tags" class="col-12 text-justify py-2 px-0"></div>
        </div>
        <!----------------chosen tags----------->
        <div class="col-3 text-center p-0 pb-3 pl-2">
            <h5 class="color-view-recipe mt-2"><i class="fas fa-check-circle pt-1 pr-1"></i>Chosen tags:</h5>
            <div id="chosen_tags" class=" col-12 col-12 py-2 px-0 text-justify"> </div>
        </div>
    </div>


    <div class="row main_content justify-content-center">
        <!-----------------------------Carousel diet plan-------------------------->
        <div class="col-7 p-0 pr-4">
            <div id="carouselExampleIndicators" class="carousel row row_carousel slide mt-4" data-ride="carousel"
                data-interval=false>
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <!-------------------------------------day of the week Monday------------>
                        <div class="justify-content-center day-of-the-week row  p-3 mb-4 font-weight-bold">
                            <span class>Monday</span>
                        </div>
                        <!-------------------------------------button Breakfast-------------->
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4 pl-4"><button type="button"
                                    class="category_name btn btn-warning">Breakfast</button></div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                        <!------------------------------------------button Lunch ---------------->
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button"
                                    class="category_name btn btn-success">Lunch</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                        <!-------------------------------------------button Tea --------------->
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button" class="category_name btn btn-success">Tea</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                        <!---------------------------------------------button Diner ------------------>
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button"
                                    class="category_name btn btn-success">Diner</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-------------------------------------day of the week Tuesday------------>
                    <div class="carousel-item">
                        <div class="justify-content-center day-of-the-week row  p-3 mb-2 font-weight-bold">
                            <span class="text-center">Tuesday</span>
                        </div>
                        <!-------------------------------------button Breakfast-------------->
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button"
                                    class="category_name btn btn-warning">Breakfast</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                        <!------------------------------------------button Lunch ---------------->
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button"
                                    class="category_name btn btn-success">Lunch</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                        <!-------------------------------------------button Tea --------------->
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button" class="category_name btn btn-success">Tea</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                        <!---------------------------------------------button Diner ------------------>
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button"
                                    class="category_name btn btn-success">Diner</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-------------------------------------day of the week Wednesday------------>
                    <div class="carousel-item">
                        <div class="justify-content-center day-of-the-week row  p-3 mb-2 font-weight-bold">
                            <span class="text-center">Wednesday</span>
                        </div>
                        <!-------------------------------------button Breakfast-------------->
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button"
                                    class="category_name btn btn-warning">Breakfast</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                        <!------------------------------------------button Lunch ---------------->
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button"
                                    class="category_name btn btn-success">Lunch</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                        <!-------------------------------------------button Tea --------------->
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button" class="category_name btn btn-success">Tea</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                        <!---------------------------------------------button Diner ------------------>
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button"
                                    class="category_name btn btn-success">Diner</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------------------------------------day of the week Thursday------------>
                    <div class="carousel-item">
                        <div class="justify-content-center day-of-the-week row  p-3 mb-2 font-weight-bold">
                            <span class="text-center">Thursday</span>
                        </div>
                        <!-------------------------------------button Breakfast-------------->
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button"
                                    class="category_name btn btn-warning">Breakfast</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                        <!------------------------------------------button Lunch ---------------->
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button"
                                    class="category_name btn btn-success">Lunch</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                        <!-------------------------------------------button Tea --------------->
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button" class="category_name btn btn-success">Tea</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                        <!---------------------------------------------button Diner ------------------>
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button"
                                    class="category_name btn btn-success">Diner</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------------------------------------day of the week Friday------------>
                    <div class="carousel-item">
                        <div class="justify-content-center day-of-the-week row p-3 mb-2 font-weight-bold">
                            <span class="text-center">Friday</span>
                        </div>
                        <!-------------------------------------button Breakfast-------------->
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button"
                                    class="category_name btn btn-warning">Breakfast</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                        <!------------------------------------------button Lunch ---------------->
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button"
                                    class="category_name btn btn-success">Lunch</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                        <!-------------------------------------------button Tea --------------->
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button" class="category_name btn btn-success">Tea</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                        <!---------------------------------------------button Diner ------------------>
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button"
                                    class="category_name btn btn-success">Diner</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------------------------------------day of the week Saturday------------>
                    <div class="carousel-item">
                        <div class="justify-content-center day-of-the-week row p-3 mb-2 font-weight-bold">
                            <span class="text-center">Saturday</span>
                        </div>
                        <!-------------------------------------button Breakfast-------------->
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button"
                                    class="category_name btn btn-warning">Breakfast</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                        <!------------------------------------------button Lunch ---------------->
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button"
                                    class="category_name btn btn-success">Lunch</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                        <!-------------------------------------------button Tea --------------->
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button" class="category_name btn btn-success">Tea</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                        <!---------------------------------------------button Diner ------------------>
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button"
                                    class="category_name btn btn-success">Diner</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------------------------------------day of the week Sunday------------>
                    <div class="carousel-item">
                        <div class="justify-content-center day-of-the-week row p-3 mb-2 font-weight-bold">
                            <span class="text-center">Sunday</span>
                        </div>
                        <!-------------------------------------button Breakfast-------------->
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button"
                                    class="category_name btn btn-warning">Breakfast</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                        <!------------------------------------------button Lunch ---------------->
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button"
                                    class="category_name btn btn-success">Lunch</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                        <!-------------------------------------------button Tea --------------->
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button" class="category_name btn btn-success">Tea</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                        <!---------------------------------------------button Diner ------------------>
                        <div class="meal row mb-2 mx-3">
                            <div class="col-4"><button type="button"
                                    class="category_name btn btn-success">Diner</button>
                            </div>
                            <!------------------slide show recipe------------>
                            <div class="col-8 recipe-diet-planner">
                                <div class="container p-0 m-0">
                                    <div class="slideShowRecipeTitle row justify-content-center font-weight-bold">
                                    </div>
                                    <img src="{{url_for('static', filename='images/foodPlaceholder.png')}}"
                                        class="slideShowRecipeImage card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="col-5 p-0">
            <!-------------------------Recipes list---------------------------------------->
            <div id="recipes-list" class="mt-3" data-spy="scroll" data-target="#navbar-example2" data-offset="0">

            </div>
            <!----------Feedback for user that search returned no results-------------->
            <div class="nothingFound_diet" style="display:none">
                <p><span>Whoops!</span> </br>Sorry, but nothing matched your search. Please try some different
                    keywords.</p>
            </div>
        </div>
    </div>

    <!----------------------Buttons generate diet plan and shopping list------------------>

    <div class="row my-4">
        <div class="col-3">
            <!------------ Button trigger modal Generate diet plan------------- -->
            <button id="generate_diet_plan" type="button" class="btn btn-warning mb-1" data-toggle="modal"
                data-target="#exampleModalCenter">
                Generate diet plan
            </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-success" id="exampleModalCenterTitle">Diet plan</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="print" class="border pr-3 pl-3 ">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <!------------------ Button trigger modal  Generate shopping list-------------------->
            <button type="button" class="btn btn-success" id="generate_shopping_list" data-toggle="modal"
                data-target="#exampleModalScrollable">
                Generate shopping list
            </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-success text-center" id="exampleModalScrollableTitle">
                            Shoping
                            List
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group list-group-flush shopping_list">
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $(document).ready(function () {

        const recipes = {{ recipes | tojson
    }};
    const recipesMap = new Map(recipes.map(r => [r.title, r]));

    $("table i").click(function () {
        $(this).parents("tr").remove()
    })

    //handle switching between categories buttons

    $(".carousel-item button").click(function () {
        if (!$(this).hasClass("btn-warning")) {
            $(this).parents(".carousel-item").find("button").removeClass("btn-warning").addClass("btn-success")
            $(this).addClass("btn-warning")
        }
    })

    // Fill in list with all recipes

    // 1. Find with jquery element to put recipes to 
    const $recipesList = $("#recipes-list");

    // 2. For each in recipes add new html object (create with jQuery) to recipes list

    recipes.forEach(function (recipe) {
        $newElem = $(`<div class="recipe-sidebar mb-4" data-tags="${recipe.tags}">
                                 <h5 class="rec-title text-center text-info">${recipe.title}</h5>
                                 
                                 <div class="px-3"><img src="${recipe.image}" class="rec-image card-img-top img-thumbnail rounded img-fluid max-width: 100% sidebar-image"></div>
                             </div>`)

        $newElem.click(function () {
            $slideShowRecipe = $(".carousel-item.active .btn-warning").parent()
            $slideShowRecipe.siblings(".recipe-diet-planner").find(".slideShowRecipeTitle").text($(this).find(".rec-title").text())
            $slideShowRecipe.siblings(".recipe-diet-planner").find(".slideShowRecipeImage").attr("src", $(this).find(".rec-image").attr("src"))
        });

        $recipesList.append($newElem)
    })

    // load all tags from all recipes
    let distinctTags = new Set()
    recipes.forEach(function (recipe) {
        if (recipe.tags) {
            recipe.tags.forEach(function (tag) {
                distinctTags.add(tag)
            })
        }
    })

    Array.from(distinctTags).sort().forEach(function (tag) {
        $("#all_tags").append(`<h6 class="d-inline"><span class="tag badge badge-warning align-middle mr-1"><span class="tag_name">${tag}</span>
                        <button type="button" class="close_diet close pl-2" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </span>
                </h6>`)
    })

    $(document).on("click", "#all_tags > h6", function () {
        $("#chosen_tags").append($(this))
        filterCards()
    })

    $(document).on("click", ".close_diet", function () {
        $("#all_tags").append($(this).parents("h6"))
        filterCards("h6")
    })

    function filterCards() {
        var currentValue = $("#myInput").val().toLowerCase().trim();

        // Get all cards
        var allCards = $("#recipes-list").find(".recipe-sidebar");

        // Remove display none from all cards
        allCards.show();

        // filtering tags
        const filteringTags = $("#chosen_tags .tag_name").map(function () {
            return String($(this).text())
        }).toArray();

        // Filter cards that lowercase title don't contain search value
        var nonMatchingCards = allCards.filter(function () {
            const titleText = $(this).find(".rec-title ").text().toLowerCase().trim();
            const tags = Array.from($(this).data("tags").split(","));

            return titleText.indexOf(currentValue) === -1 || (filteringTags && filteringTags.some(function (filterTag) {
                return !tags.some(tag => tag === filterTag)
            }));
        });


        // Set display none to all filtered cards
        nonMatchingCards.hide();

        // if there are no search results show info 
        if (nonMatchingCards.length === allCards.length) {
            $(".nothingFound_diet").show();

        } else {
            $(".nothingFound_diet").hide();

        }
    }

    $("#myInput").keyup(function () {
        filterCards()
    });

    /*---------------------------Generate diet plan button----------------------*/

    $("#generate_diet_plan").click(function () {
        $print = $("#print");
        $print.empty();

        $(".carousel-item").each(function (current_card) {
            $print.append(`<div class="row bg-warning p-3 border font-weight-bold">${$(this).find(".day-of-the-week").text()}</div>`)
            $print.append(`<div class="row p-2 border-top-0">
                        <div class="col-4 text-center p-1 font-weight-bold">Meal:</div>
                        <div class="col-4 text-center p-1 font-weight-bold">Ingredients List:</div>
                        <div class="col-4 text-center p-1 font-weight-bold">Steps:</div>
                </div>`)

            $(this).find(".category_name").each(function (category_index) {

                const dish_name = $(this).parents(".meal").find(`.slideShowRecipeTitle`).text();
                if (dish_name && dish_name.trim() !== "") {
                    const recipe = recipesMap.get(dish_name);

                    $row = $(`<div class="row"></div>`)
                    $col1 = $(`<div class="col-4 nopadding ">
                                    <div class="container">
                                        <div class="row  p-1 border-bottom border-top text-uppercase font-weight-bold">${$(this).text()}</div>
                                        <div class="row  p-1 font-italic">${dish_name}</div>
                                        </div>
                                </div>`)
                    $col2 = $(`<div class="col-4 border"></div>`)
                    $col3 = $(`<div class="col-4 border"></div>`)
                    $inglist = $(`<ul class="small"></ul>`)
                    recipe.ingredients.forEach(function (i) {
                        $inglist.append(`<li>${i.name}</li>`)
                    })

                    $steplist = $(`<ol class="small"></ol>`)
                    if (recipe.recipe && Array.isArray(recipe.recipe)) {
                        recipe.recipe.forEach(function (step) {
                            $steplist.append(`<li>${step}</li>`)
                        })
                    }
                    $col2.append($inglist)
                    $col3.append($steplist)
                    $row.append($col1)
                    $row.append($col2)
                    $row.append($col3)

                    $print.append($row)
                }
            })

        })

    })


    /*--------------------------Generate shopping list button-------------------*/

    $("#generate_shopping_list").click(function () {

        $shopping_list = $(".shopping_list");
        $shopping_list.empty();

        let all_ingredients = new Map()

        $(".carousel-item").each(function (day_index) {
            $(this).find(".category_name").each(function (category_index) {

                const dish_name = $(this).parents(".meal").find(`.slideShowRecipeTitle`).text();
                if (dish_name && dish_name.trim() !== "") {
                    const recipe = recipesMap.get(dish_name);

                    recipe.ingredients.forEach(i => {
                        const floatAmount = parseFloat(i.amount);

                        if (all_ingredients.has(i.name)) {
                            if (all_ingredients.get(i.name).has(i.unit)) {
                                const newValue = all_ingredients.get(i.name).get(i.unit) + floatAmount
                                all_ingredients.get(i.name).set(i.unit, newValue);

                            } else {
                                all_ingredients.get(i.name).set(i.unit, floatAmount)
                            }
                        } else {
                            all_ingredients.set(i.name, new Map())
                            all_ingredients.get(i.name).set(i.unit, floatAmount)
                        }
                    })

                }
            })


        })

        for (const [name, unit_amount] of all_ingredients.entries()) {


            for (const [unit, amount] of unit_amount.entries()) {
                $shopping_list.append(`<li class ="list-group-item">
                                             <div class="row">
                                                <div class="col-3">${name}</div>
                                                <div class="col-1">${amount}</div>
                                                <div class="col-1">${unit}</div>
                                                </div>
                                        </li>`)
            }
        }


    })
})

</script>

{% endblock %}

{% block styles %}

.main_container {
margin: 0 2em;
padding: 0;
}

.container.general {
display: none;
}

{% endblock %}