{% extends 'base.html'%} {% block content %}

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">#</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
            <th scope="col">Sunday</th>
        </tr>
    </thead>
    <tbody>
        {% for cat in categories %}
        <tr>
            <th>
                <i class="fa fa-minus-circle"></i>
            </th>
            <th scope="row" class="category_name">{{cat.name}}</th>
            {% for n in range(7) %}
            <td> <select class="form-control" id="exampleFormControlSelect1" name="new_hours">
                    {% for recipe in recipes %}
                    {% if recipe.category == cat.name %}
                    <option class="recipe_name">{{recipe.title}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<div id="print">

    
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" id = "generate_shopping_list" data-toggle="modal" data-target="#exampleModalScrollable">
    Generate shopping list
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success text-center" id="exampleModalScrollableTitle">Shoping List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush shopping_list">
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $(document).ready(function () {

        const recipes = {{ recipes | tojson
    }};
    const recipesMap = new Map(recipes.map(r => [r.title, r]));

    $("table i").click(function () {
        $(this).parents("tr").remove()
    })

    $("#generate_shopping_list").click(function () {
        $print = $("#print");
        $shopping_list = $(".shopping_list");
        $shopping_list.empty();
        $print.empty();

        let all_ingredients = new Map()

        $("thead th:gt(1)").each(function (day_index) {
            $print.append(`<strong><div>${$(this).text()}</div><strong>`)

            console.log(`day: ${day_index}`)
            $(".category_name").each(function (category_index) {
                $print.append(`<div>${$(this).text()}</div>`)
                console.log(`cat: ${category_index}`)
                const dish_name = $(`tr:eq(${category_index + 1}) td:eq(${day_index}) select`).val();
                $print.append(`<div>${dish_name}</div>`)

                const recipe = recipesMap.get(dish_name);
                $print.append(`<div>${recipe.recipe}</div>`)

                recipe.ingredients.forEach(i => {
                    const floatAmount = parseFloat(i.amount);

                    if (all_ingredients.has(i.name)) {
                        if (all_ingredients.get(i.name).has(i.unit)) {
                            const newValue = all_ingredients.get(i.name).get(i.unit) + floatAmount
                            all_ingredients.get(i.name).set(i.unit, newValue);

                        } else {
                            all_ingredients.get(i.name).set(i.unit, floatAmount)
                        }
                    } else {
                        all_ingredients.set(i.name, new Map())
                        all_ingredients.get(i.name).set(i.unit, floatAmount)
                    }
                })
                console.log(`cat: ${category_index}`)
            })

            console.log(`day: ${day_index}`)
        })

        for (const [name, unit_amount] of all_ingredients.entries()) {
           

            for (const [unit, amount] of unit_amount.entries()) {
                $shopping_list.append(`<li class ="list-group-item"><div class="row"><div class="col-2">${name}</div><div class="col-1">${amount}</div><div class="col-1">${unit}</div></div></li>`)
            }
        }


    })
})

</script>

{% endblock %}