{% extends 'base.html'%} {% block content %}

<h2>Edit Ingredient</h2>

<form action="{{ url_for('update_ingredient', ingredient_id=ingredient._id) }}" method="POST" class="col-12">
    <div class="form-group list-group list-group-flush">
        <label>Ingredient name</label>
        <input class="form-control list-group-item" type="text" name="new_name" value="{{ingredient.name}}">
    </div>
    <div class="form-group list-group list-group-flush">
        <label>Ingredient unit</label>
        <input class="form-control list-group-item" type="text" name="new_unit" value="{{ingredient.unit}}">
    </div>
    <button type="submit" class="btn btn-info bottom-buttons">Save <i class="fa fa-check "></i></button>
    <a href="{{url_for('get_ingredients')}}" class="btn btn-secondary bottom-buttons">Cancel <i
            class="fa fa-trash"></i></a>
</form>

{% endblock %}