{% extends 'base.html'%} {% block content %}

<h1 class="text-center py-4">Edit Ingredient</h1>

<!--------------------------Edit ingredient form ------------->
<form action="{{ url_for('update_ingredient', ingredient_id=ingredient._id) }}" method="POST"
        class="col-12 col-md-8 offset-md-2 p-5">

        <label class="font-weight-bold">Ingredient name</label>
        <input class="form-control" type="text" name="new_name" value="{{ingredient.name}}">

        <!-----------------Button Save Changes------------>
        <button type="submit" class="btn btn-info bottom-buttons">Save <i class="fa fa-check "></i></button>
        <!-----------------Cancel------------>
        <a href="{{url_for('get_ingredients')}}" class="btn btn-secondary bottom-buttons">Cancel <i
                        class="fa fa-trash"></i></a>
</form>

{% endblock %}

<!----------------------------------------Background image---------------------------->
{% block styles %}

body {
background-image: url("{{url_for('static', filename='images/background1.jpeg')}}");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
width: 100%;
height: 100%;
z-index: 1;
background-color: hsla(0,0%,0%,0.10);
background-blend-mode: overlay;
background-repeat: no-repeat;
}

{% endblock %}