{% extends 'base.html'%} {% block content %}
<div class="container">
   
   <!--------------------------------------Jumbotron CookBook page---------------------->
    <div class="jumbotron jumbo_get_recipe jumbotron-fluid rounded-bottom">
        <div class="container pb-5">
            <h1 class="display-4"><strong> Your Recipes</strong></h1>
            <p class="lead">The absolute best way to organize your recipes from ALL sources in one place!</p>
            
            <!--------------- button add recipe ----------------->
            <a href="{{url_for('add_recipe')}}" class="btn btn-info mt-5">
                Add recipe
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>

    <!------------------------------search input---------------------->
    <form class="form-inline md-form form-sm mt-0">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input id="myInput" class="form-control form-control-sm ml-3 w-50" type="text" placeholder="Search"
            aria-label="Search">
    </form>

<!--------------------------------------------Recipes cards --------------------------->
    <div id="cards-container" class="row mb-4">
        {% for recipe in recipes %}
        <div class="card-group col-sm-12 col-md-6 col-lg-4 pl-1"
            data-target="{{url_for('view_recipe', recipe_id=recipe._id)}}">
            <div class="card mt-3 shadow-sm">
                <img id="get_recipe_image" src="{{recipe.image}}" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h4 class="card-title text-center">{{recipe.title}}</h4>
                    <hr>
                    <div class='container nopadding col-12'>
                        <div class='row bigger'>
                            <small class="col-4 text-center nopadding"><strong><i class="fa fa-align-center"></i>
                                    Category: </strong> </small>
                            <small class='col-4 text-center nopadding'><strong><i class="fa fa-clock"></i> Time:
                                </strong>
                            </small>
                            <small class='col-4 text-center nopadding'><strong><i class="fas fa-utensils"></i> Servings:
                                </strong> </small>
                        </div>
                        <div class="row">
                            <small class='col-4 text-center'>{{recipe.category}}</small>
                            <small
                                class='col-4 text-center'>{{recipe.prepare_time_hours}}:{{recipe.prepare_time_minutes}}</small>
                            <small class='col-4 text-center'>{{recipe.servings}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>

<!----------Feedback for user that serch returned no results-------------->
 <div class="nothingFound" style="display:none">
    <p><span>Whoops!</span> </br>Sorry, but nothing matched your search. Please try some different
        keywords.</p>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

    $(document).ready(function () {
        // Get recipe view after clicking on card
        $(".card-group").click(function () {
            window.location.href = $(this).data("target");
        })


        // search input

        $("#myInput").keyup(function () {
            var currentValue = $(this).val().toLowerCase().trim();

            // Get all cards
            var allCards = $("#cards-container").find(".card-group");

            // Remove display none from all cards
            allCards.show();

            // Filter cards that lowercase title don't start with search value
            var nonMatchingCards = allCards.filter(function () {
                var titleText = $(this).find(".card-title").text().toLowerCase().trim();
                return !titleText.startsWith(currentValue);
            });


            // Set display none to all filtered cards
            nonMatchingCards.hide();
            
             // if there are no search results show info 
             if (nonMatchingCards.length === allCards.length) {
                 $(".nothingFound").show();
                
             } else {
                 $(".nothingFound").hide();
                
             }
        });
    })

</script>
{% endblock %}

{% block styles %}


{% endblock %}