{% extends 'base.html'%} {% block content %}
<div class="container">
    <h2 class="text-center mb-2">Category</h2>

    <!---------------------------------button add category----->
    <div class="row  mb-4">
        <div class="col-1 col-md-2"></div>
        <a href="{{url_for('add_category')}}" class="btn btn-info bottom-buttons col-6 col-md-4 col-lg-2">Add category
            <i class="fa fa-plus"></i></a>
    </div>
    <!----------------------------------List of all categories ---------------->
    <ul class="list-group list-group-flush col-md-8 offset-md-2 mb-5 p-0">
        {% for category in categories %}
        <li class="row">
            <div id="ingredients_list" class="list-group-item container">
                <div class="row pl-2">
                    <div class="col-5 col-sm-7 col-md-6 col-lg-8">
                        <strong>{{category.name}}</strong>
                    </div>
                    <!------------------Buttons -------------------->
                    <div class="col-6  col-lg-4">
                        <!------Edit category button---->
                        <a href="{{url_for('edit_category', category_id=category._id)}}" class="btn btn-primary btn-sm"
                            role="button" aria-pressed="true">Edit</a>
                        <!-------------Delete category button--->
                        <a href="{{url_for('delete_category', category_id=category._id)}}" class="btn btn-danger btn-sm"
                            role="button" aria-pressed="true">Delete</a>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>

{% endblock %}}
<!----------------------------------------Background image---------------------------->
{% block styles %}

body {
background-image: url("{{url_for('static', filename='images/background1.jpeg')}}");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
width: 100%;
height: 100%;
z-index: 1;
background-color: hsla(0,0%,0%,0.10);
background-blend-mode: overlay;
background-repeat: no-repeat;
}

{% endblock %}