{% extends 'base.html'%} {% block content %}
<div class="container col-md-10 col-lg-8">

    <div class="card view_recipe_card mb-3 row justify-content-md-center">
        <img id="view_recipe_image" src="{{recipe.image}}" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
            <h3 class="card-title text-center">{{recipe.title}}</h3>
            <hr>
            <div class='container nopadding'>
                <div class="container-fluid col-12 px-0">
                    <div class="container text-center">
                        <div class="row color-view-recipe">
                            <div class="col-4"><i class="fa fa-align-center"></i></div>
                            <div class="col-4"><i class="fa fa-clock"></i></div>
                            <div class="col-4"><i class="fas fa-utensils"></i></div>
                        </div>
                        <div class="row color-view-recipe">
                            <div class="col-4">
                                <p class="font-weight-bold">Category:</p>
                            </div>
                            <div class="col-4">
                                <p class="font-weight-bold">Time:</p>
                            </div>
                            <div class="col-4">
                                <p class="font-weight-bold">Servings:</p>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-4">{{recipe.category}}</div>
                            <div class="col-4"> {{recipe.prepare_time_hours}}:{{recipe.prepare_time_minutes}}</div>
                            <div class="col-4"> {{recipe.servings}}</div>
                        </div>
                    </div>
                    <hr>
                    <div class='col-12 pt-4'>
                        <h4 class="color-ingredients"><i class="fas fa-apple-alt text-success pb-3"></i> Ingredients: </h4>
                        <ul>
                            {% if recipe.ingredients %}
                            {% for ingredient in recipe.ingredients %}
                            <li>
                                <div class="row nopadding">
                                    <div class="mx-1">{{ingredient.name}}</div>
                                    <div class="mx-1">{{ingredient.amount}}</div>
                                    <div class="mx-1">{{ingredient.unit}}</div>
                                </div>
                                <hr>
                            </li>

                            {% endfor %}
                            {% endif %}

                        </ul>
                        <h4 class="color-ingredients pl-2 pt-4"><i class=" text-success fas fa-book-open"></i> Steps: </h4>
                        {% for step in recipe.recipe %}
                        <div class="pl-4">{{loop.index}}. {{step}}</div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <a href="{{url_for('get_recipes')}}" class="btn btn-info bottom-buttons">Go back to all recipes
            </a>
            <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn btn-primary bottom-buttons"
                role="button" aria-pressed="true">Edit</a>
            <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="btn btn-danger bottom-buttons"
                role="button" aria-pressed="true">Delete</a>


        </div>
    </div>

</div>
{% endblock %}